html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  background-color: rgb(180, 180, 180);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 10px;
}
/*Обнулення*/
h1,h2,h3,h4,h5,h6,ul,p {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* --header------------------------------- */
.header {
  background-color: lightseagreen;
  padding: 20px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  margin-right: 30px;
  border-radius: 50%;
  background-color: blue;
}
.menu {
  margin-left: auto;
}

.list {
  display: flex;
  justify-content: end;
}
.item {
}
.item:not(:last-child) {
  margin: 0 20px 0 0;
}
.link {
  display: inline-block;
  font-size: 24px;
  color: #000;
}
/* --main--------------------------------- */
.main {
  flex: 1 0 auto;
  padding: 20px 0;
}
.title {
  font-size: 36px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: rgb(202, 147, 79);
  font-weight: 600;
  margin-bottom: 35px;
}
/* ----------forms---------- */
.text-form {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(226, 211, 0);
}

.form {
  padding: 30px 20px;
  background-color: rgb(32, 112, 178);
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;

}

.label {
  display: block;
  margin-bottom: 20px;
  position: relative;

}
.label-text{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: top ease 0.5s, left ease 0.5s;
}
.input {
  padding: 10px 15px;
  min-width: 100%;
  border-radius: 5px;
  border: none;
}
.label:focus-within > .label-text, 
.input:not(:placeholder-shown) + .label-text {
  top: -25%;
  left: 0;
  color: tomato;
}


.input:focus {
  outline: 3px solid rgb(0, 191, 255);
}

.input:not(:placeholder-shown):required:valid {
  outline: 3px solid rgb(0, 255, 85);
}

.input:not(:placeholder-shown):required:invalid {
  outline: 3px solid rgb(255, 0, 0);
}
/* ------------------checkbox----------------------------- */
.block-2 {
  display: flex;
  flex-direction: column;
}
.checkbox-wrap {
  display: flex;
  align-items: center;
}
.label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-checkbox::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: antiquewhite;
  margin-right: 15px;
}
.checkbox {
  width: 0px;
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
}
.checkbox:checked + .label-checkbox::before {
  background-color: rgb(0, 221, 0);
}
/* ----------- */
.button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(37, 152, 190);
  border: none;
  box-shadow: 0px 5px 2px rgb(1, 36, 48);
  transition: all ease 0.5s;
}
.button:active {
  box-shadow: 0px 3px 1px rgb(1, 55, 73);  
  transform: translateY(2px);
  padding: 10px;
  background-color: rgb(37, 152, 190);
}

/* --footer----------------------------- */
.footer {
  padding: 50px 0;
  background-color: lightslategrey;
}
