html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  background-color: rgb(180, 180, 180);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 10px;
}
/*Обнулення*/
h1,h2,h3,h4,h5,h6,ul,p {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* --header------------------------------- */
.header {
  background-color: lightseagreen;
  padding: 20px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  margin-right: 30px;
  border-radius: 50%;
  background-color: blue;
}
.menu {
  margin-left: auto;
}

.list {
  display: flex;
  justify-content: end;
}
.item {
}
.item:not(:last-child) {
  margin: 0 20px 0 0;
}
.link {
  display: inline-block;
  font-size: 24px;
  color: #000;
}
/* --main--------------------------------- */
.main {
  flex: 1 0 auto;
  padding: 20px 0;
}
.title {
  font-size: 36px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: rgb(202, 147, 79);
  font-weight: 600;
  margin-bottom: 35px;
}
/* ----------forms---------- */
.text-form {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 79, 226);
}

.form {
  padding: 30px 20px;
  background-color: lightseagreen;
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  transition: all ease 0.3s;
}
.input-wrap {
  margin: 0 0 25px 0;
  position: relative;
}
.label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all ease 0.3s;
  color: #a7a7a7;
}
input {
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  display: block;
}
input::placeholder {
  color: #00000000;
}


input:focus {
  outline: 3px solid rgb(0, 191, 255);
}
input:focus + label, input:not(:placeholder-shown) + label {
  top: -35%;
  color: rgb(255, 255, 255);
  font-weight: 600;

}
.button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: cadetblue;
  border: none;
  box-shadow: 0px 5px 10px black;
  transition: all ease 0.3s;
}
.button:active {
  box-shadow: 0px 1px 0.5px black; 
  transform: translateY(1px);
  padding: 10px;
  background-color: rgb(123, 150, 151);
}

/* --footer----------------------------- */
.footer {
  padding: 20px 0;
  background-color: lightslategrey;
}
